<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAN Website</title>
    <style>
      .heading {
        text-align: center;
      }
      img {
        width: 45%;
      }
      .inputimg {
        display: flex;
        align-content: space-around;
        justify-content: flex-start;
        padding: 10px;
      }
      .outputimg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
      }
      .label {
        font-size: x-large;
      }
    </style>
  </head>
  <body>
    <h1 class="heading">Generative Adersial Nerual Network</h1>
    <form action="{{ url_for('handle_data') }}" menthod="'post">
      <label for="input_Image" class="label">Input Image URL:</label>
      <input type="text" id="input_Image" name="input_Image" /><br /><br />
      <label for="style_Image" class="label">Style Image URL:</label>
      <input type="text" id="style_Image" name="style_Image" /><br /><br />
    </form>
    <button type="button" onclick="alert('Hello world!')">SUBMIT</button>
    <div class="inputimg">
      <img
        src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg"
        alt="Input_Image"
      />
      <img
        src="https://ik.imagekit.io/theartling/prod/original_images/ac944d61e6274435b49568c2a1564c57.jpeg?tr=w-1650"
        alt="style_Image"
      />
    </div>
    <h1 class="heading">Output</h1>
    <div class="outputimg">
      <img src="output.png" alt="output_Image" />
    </div>
  </body>
</html>
